.btn {
    border-radius: $btn-border-radius;
    border: $btn-border;
    padding: $btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    background-color: $secondary-color;
    color: $font-color;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  
    &:hover {
        border-color: $tertiary-color;
        color: $font-color;
    }
  
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
  
.btn-small {
    font-size: 0.8em !important;
    padding: 0.2em 0.4em !important;

}

.btn-primary {

}