// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// General
html, body{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

// Barra de progreso
.progress-bar {
    width: 0%;
    height: 3px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    border-radius: 10px;
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation{
  0%{
    background-position: 100%
  }
  100%{
    background-position: 0
  }
}
// Secciones

section{
    width: 100%;
    min-height: 100vh;
    font-size: $font-size-base;
    color: $font-color-base;
    padding: 15px;
}

.section-1{
    padding-top : 80px;
    background-color: rgb(36, 36, 36);
}
.section-2{
    background-color: rgb(126, 126, 126);
}
.section-3{
    background-color: rgb(85, 85, 85);
}
.section-4{
    background-color: rgb(33, 33, 33);
}

// Contenido secciones


// navbar
nav{
    background-color: $navbar-bg;
    width: 100%;
    padding: $navbar-padding;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: .3s;

    .nav-wrapper{
        max-width: 1280px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-size: 1.4rem;
            font-weight: bolder;
            color: $navbar-color;
            margin: none;
        }
    }
}

.transparent{
    background-color: transparent !important;
}
